body {
  margin: 0;
  overflow: hidden;
}

.marker-line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.title {
  font-size: 2em;
}

.tick text {
  font-size: 1.2em;
  fill: rgb(114, 114, 114);
}

.tick line {
  stroke: rgb(205, 205, 205);
}

.axis-label {
  font-size: 1.5em
}