body {
  margin: 0;
  overflow: hidden;
}

.marker-line {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}
.marker-line.active {
  stroke: black;
} 
.title {
  font-size: 2em;
}

.tick text {
  font-size: 1.2em;
  fill: rgb(114, 114, 114);
}

.tick line {
  stroke: rgb(217, 217, 217);
}

.axis-label {
  font-size: 1.5em
}
.voronoi path {
  fill: none;
  /* stroke: pink; */
  pointer-events: all;
}